:root {
    --bgcolor: rgb(42, 42, 42);
    --altcolor: aliceblue;
    --contrastcolor: rgba(252, 63, 16, 1);
    --bgcolorlight: color-mix(in srgb, var(--bgcolor), white 20%);
    --altcolorlight: color-mix(in srgb, var(--altcolor), white 30%);
    /**/
    --hour-x: 0;
    --hour-y: 0;
    --min-x: 0;
    --min-y: 0;
    --sec-x: 0;
    --sec-y: 0;
}

html {
    scrollbar-width: none;
    -webkit-text-size-adjust: 100%;
    /* Prevents Chrome from scaling text on its own */
    text-size-adjust: 100%;
}


/* Firefox */

body {
    -ms-overflow-style: none;
    user-select: none;
}


/* IE and Edge */

body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
    display: none;
}

#divider {
    display: flex;
    flex-direction: row;
}

#settings {
    width: 3vw;
    height: 90vh;
    opacity: 0;
    transition: opacity 0.8s ease-in;
    z-index: 2;
    padding-right: 10vw;
    margin-right: -10vw;
    margin-left: 0.5vw;
}

.settingsButton {
    background-color: var(--altcolor);
    color: var(--bgcolor);
    width: max(3vw, 50px);
    height: max(3vw, 50px);
    border: none;
    border-radius: max(30vw, 50px);
    background-clip: padding-box;
    transform: rotate(0.05deg);
    margin-bottom: max(0.5vw, 10px);
    position: relative;
    align-items: center;
    display: flex;
    flex: row;
    flex-grow: 1;
    overflow: hidden;
    filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.4));
    transition: all 0.8s ease;
}

#settings:hover {
    opacity: 100%;
    transition: opacity 0.8s ease-out;
}

#page {
    flex-grow: 1;
}

#colorSetting {
    margin-top: max(0.5vw, 10px);
    transition: all 0.8s ease;
}

#colorSetting:hover {
    width: max(8vw, 102px);
    transition: all 0.8s ease;
}

#colorPicker {
    border: none;
    padding: 0;
    margin: 0;
    height: max(2vw, 40px);
    width: max(2vw, 40px);
    border-radius: max(2vw, 40px);
    background-clip: padding-box;
    transform: rotate(0.05deg);
    transition: all 0.8s ease;
    cursor: pointer;
    opacity: 0;
}

#colorSetting:hover #colorPicker {
    width: max(7vw, 90px);
    transition: all 0.8s ease;
}

#inputdiv {
    padding: 0;
    opacity: 0;
    border-radius: 2vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    width: fit-content;
    height: fit-content;
    background-color: var(--bgcolor);
    align-self: center;
    transition: all 0.4s ease;
    margin: max(0.5vw, 6px);
    border-radius: max(2vw, 40px);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

#clockSettings:hover {
    width: max(24vw, 350px);
    transition: all 0.5s ease;
}

.settingsButton>button {
    min-width: max(2vw, 40px);
    pointer-events: none;
    color: var(--altcolor);
    background-color: var(--bgcolor);
    border: none;
    background-clip: padding-box;
    margin: 0;
    padding: 0;
    margin-left: 0.5vw;
    padding-left: max(0.5vw, 10px);
    padding-right: max(0.5vw, 10px);
    height: max(2vw, 40px);
    border-radius: max(2vw, 40px);
    flex-grow: 0;
    text-align: left;
    line-height: 1;
    display: inline;
    text-shadow: none;
    letter-spacing: 2px;
    font-family: "Nova Mono", monospace;
    font-weight: 500;
    font-style: normal;
    opacity: 0;
    transition: flex-grow 0.5s ease, opacity 0.4s ease;
    font-size: max(1.1vw, 15px);
    cursor: pointer;
    transform: rotate(0.05deg);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    transition: flex-grow 0.8s ease, opacity 0.5s ease;
}

.settingsButton:hover button {
    pointer-events: auto;
    flex-grow: 1;
    opacity: 1;
    transition: flex-grow 0.5s ease, opacity 0.5s ease;
}

.settingsButton:hover button.active {
    opacity: 1;
    transition: flex-grow 0.8s ease, opacity 0.8s ease;
    flex-grow: 10;
}

.settingsButton:hover .icon {
    opacity: 0;
    transition: opacity 1s ease left 0.5s ease;
}

#option-analog {
    margin-right: 0.5vw;
}

#colorSetting:hover #inputdiv {
    transition: opacity 0.8s ease;
    opacity: 100%;
}

.icon {
    width: max(2vw, 36px);
    height: max(2vw, 36px);
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: max(1.5vw, 25.5px);
    opacity: 1;
    fill: var(--bgcolor);
    padding: 0;
    margin: 0;
    filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.4));
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease;
}

#colorIcon {
    width: max(2.2vw, 42px);
    height: max(2.2vw, 42px);
    flex: 1;
}

.settingsButton:hover .icon {
    opacity: 0;
    transition: opacity ease 0.5s;
}

#background {
    background-color: var(--bgcolor);
}

#digitalClockContainer {
    visibility: hidden;
    position: fixed;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.8s ease;
}

#analogClockContainer {
    visibility: hidden;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
    height: 40vw;
    width: 40vw;
    transition: opacity 0.8s ease;
}

#analogBackground {
    height: 40vw;
    width: 40vw;
    border: 0;
    border-radius: 20vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    background-color: var(--altcolor);
    position: absolute;
    z-index: 1;
    transition: background-color 0.6s linear;
    box-shadow: 0px 30px 10px rgba(0, 0, 0, 0.3), 0px -20px 30px var(--bgcolorlight);
}

#analogHour {
    height: 14vw;
    width: 3vw;
    border: 0;
    border-radius: 3vw;
    background-clip: padding-box;
    background-color: var(--bgcolor);
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -110%);
    transform-origin: 50% 110%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(var(--hour-x) var(--hour-y) 4px rgba(0, 0, 0, 0.5)) drop-shadow(calc(-1 * var(--hour-x)) calc(-1 * var(--hour-y)) 20px var(--altcolorlight));
}

#analogMinute {
    height: 17vw;
    width: 2vw;
    border: 0;
    border-radius: 3vw;
    background-clip: padding-box;
    background-color: var(--bgcolor);
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -110%);
    transform-origin: 50% 110%;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(var(--min-x) var(--min-y) 6px rgba(0, 0, 0, 0.5)) drop-shadow(calc(-1 * var(--hour-x)) calc(-1 * var(--hour-y)) 30px var(--altcolorlight));
}

#analogSecond {
    height: 19vw;
    width: 0.5vw;
    border: 0;
    border-radius: 1vw;
    background-clip: padding-box;
    transform: rotate(0.05deg);
    background-color: var(--contrastcolor);
    z-index: 4;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 100%;
    transform: translate(-50%, -100%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    filter: drop-shadow(var(--sec-x) var(--sec-y) 8px rgba(0, 0, 0, 0.5)) drop-shadow(calc(-1 * var(--hour-x)) calc(-1 * var(--hour-y)) 30px var(--altcolorlight));
    transition: background-color 0.3s linear;
}

#digital-clock {
    color: var(--altcolor);
    margin: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    line-height: 1;
    display: inline;
    letter-spacing: 2px;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 20vw;
    text-shadow: 0px 15px 10px rgba(0, 0, 0, 0.3), 0px -15px 30px var(--bgcolorlight);
}

#dvdLogo {
    position: fixed;
    top: 0px;
    left: 0px;
    /**/
    display: inline-flex;
    align-items: center;
    line-height: 0.65;
    padding: 0;
    margin: 0;
    height: auto;
    width: fit-content;
    height: fit-content;
    /**/
    color: var(--altcolor);
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translate(0, 0);
    visibility: hidden;
    transition: opacity ease 0.4s, visibility ease 0.4s;
}

#dvdLogo>svg {
    height: 8vmax;
    fill: var(--altcolor);
    filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.797)) drop-shadow(0px -10px 8px var(--bgcolorlight));
}

#gameAnimationSettings {
    transition: all 0.8s;
}

#gameAnimationSettings:hover {
    transition: all 0.8s;
    width: max(20vw, 300px);
    padding-right: 0.5vw;
}

#gameAnimationSettings:hover .game-anim-option.active {
    opacity: 1;
    transition: flex-grow 0.8s ease, opacity 0.8s ease;
    flex-grow: 10;
}

#page {
    position: relative;
}

#snakeContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.4s ease, visibility ease 0.4s;
}

.snakeElement {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--altcolor);
    box-shadow: inset 0 0 2.5vmin color-mix(in srgb, var(--bgcolor) 60%, var(--bgcolor) 60%);
    width: 4.8vmin;
    height: 4.8vmin;
    transform: translate(0, 0);
}

#simpleAnimationSettings:hover {
    transition: all 0.5s;
    width: max(22vw, 330px);
    padding-right: 0.5vw;
}

#gradientContainer {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: radial-gradient(circle, var(--bgcolor) var(--animationPercent1), var(--contrastcolor) var(--animationPercent2), var(--bgcolor) var(--animationPercent3));
    animation: gradientAnimation 5s ease-in-out infinite alternate;
}

#bubblesContainer {
    visibility: hidden;
}

.bubble {
    transform: translateY(120vh);
    border-radius: 50%;
    border: solid 0.2vmin var(--altcolor);
    background-color: transparent;
    filter: drop-shadow(0 0 0.2vmin var(--altcolorlight));
}

.bubbles {
    justify-content: space-evenly;
    width: 100vw;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: row;
}

.bubbles>.bubble {
    width: calc((5 - var(--bubbleRow)) * 1vmin);
    height: calc((5 - var(--bubbleRow)) * 1vmin);
    animation: bubbleAnimation calc(100 / var(--bubbleDelay) * 1.5s * (var(--bubbleRow)*0.6 + 1)) linear infinite;
    filter: drop-shadow(0 00.2vmin var(--altcolorlight)) blur(calc(0.1vmin * var(--bubbleRow)));
    opacity: 0.4;
}

@keyframes bubbleAnimation {
    from {
        transform: scale(100%) translateY(120vh);
    }
    to {
        transform: scale(150%) translateY(-20vh);
    }
}

@keyframes gradientAnimation {
    from {
        --animationPercent1: 5%;
        --animationPercent2: 10%;
        --animationPercent3: 15%;
    }
    to {
        --animationPercent1: 20%;
        --animationPercent2: 25%;
        --animationPercent3: 30%;
    }
}

@property --animationPercent1 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 10%;
}

@property --animationPercent2 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 20%;
}

@property --animationPercent3 {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 30%;
}

@property --bubbleDelay {
    syntax: "<integer>";
    inherits: false;
    initial-value: 2;
}

@property --bubbleRow {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');